**/.git
**/.env
**/.env.*
**/node_modules
**/venv
**/.venv
**/__pycache__
**/*.pyc
**/*.log
**/*.tsbuildinfo
FE/dist
FE/.vite
FE/.pnpm-store
BE/uploads
BE/cache
BE/static
BE/tests
BE/docs
BE/sql
*.tif
*.tiff
*.tif.aux.xml
